
    .carousel{
        .slide{
            position: relative;
            .carousel-indicators{
                // position: absolute;
                bottom: 10%;
                // left: 50%;
                // transform: translateX(-50%);
                li {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    &.active{
                        background-color: $color-orange-main;
                    }
                }
                
            }
            .carousel-control-prev{
                width: 5%;
                left:0%;
            }
            .carousel-control-next{
                width: 5%;
                right: 0%;
            }
        }
    }
