.picking-place {
  padding-top: 40px;
  .nav {
    .nav-item {
      border: solid rgba(51, 51, 51, 0.5) 1px;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 70%;
        width: 1px;
        transform: translateY(-50%);
        background-color: rgba(51, 51, 51, 0.5);
      }
      &:first-child {
        border-left: solid rgba(51, 51, 51, 0.5) 1px;
      }
      &:last-child {
        border-right: solid rgba(51, 51, 51, 0.5) 1px;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          height: 70%;
          width: 1px;
          transform: translateY(-50%);
          // border-bottom: 1px solid #fff;
          background-color: rgba(255, 255, 255, 0);
        }
      }
      padding: 10px;
      .nav-link {
        opacity: 0.5;
        &.active {
          background-color: transparent;
          opacity: 1;
        }
        a {
          img {
          }
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      padding: 0;
      // justify-content: center;
      // border: 1px solid rgba(51, 51, 51, 0.5);
      width: 100%;
      display: inline-block;
      align-items: center;
      .advertisment {
        // width: 10%;
        // float: left;
        // height: 705px;
      }
      .list-cinemas {
        float: left;
        margin-left: 10%;
        min-height: 705px;
        max-height: 705px;
        border: 1px solid rgba(51, 51, 51, 0.5);
        border-bottom: 1px solid rgba(51, 51, 51, 0.5);
        width: 30%;
        overflow-y: hidden;
        overflow-x: hidden;
        &:hover {
          overflow-y: scroll;
          &::-webkit-scrollbar-track {
            border: none;
            padding: 2px 0;
            background-color: #d1d0d0;
          }
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #949191;
            // border: 1px solid #000;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          height: 100%;
          background-color: rgba(51, 51, 51, 0.5);
        }
        .nav-item{
          padding:0;
          margin:0;
          width: 100%;
          &::before{
            content:"";
            width:0;
            background-color: none;
          }
          .cinema-item {
            // padding: 20px;
            display: block;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 80%;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 1px;
              background-color: rgba(51, 51, 51, 0.5);
            }
            &:last-child::before {
              content: "";
              position: absolute;
              width: 80%;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 1px;
              background-color: rgba(51, 51, 51, 0);
            }
            img {
              width: 50px;
              height: 50px;
              margin-top: 15px;
              float:left;
              // clear:both;
            }
            .cinema-item__detail {
              padding-left: 20px;
              padding:15px;
              width:70%;
              display: inline-block;
              // float:left;
              // clear:both;
  
              h5 {
                font-size: 14px;
                color: coral;
              }
              span{
                display: block;
                width:100%;
                line-height: 1.4;
                font-size: 12px;
                color: #949494;
                // width:100%;
                // overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .list-movies {
        float: left;
        min-height: 705px;
        max-height: 705px;
        width: calc(100% - 32% - 92px);
        border: 1px solid rgba(51, 51, 51, 0.5);
        // border-top-right-radius: 4px;
        // border-bottom-right-radius: 4px;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        &:hover {
          overflow-y: scroll;
          &::-webkit-scrollbar-track {
            border: none;
            padding: 2px 0;
            background-color: #d1d0d0;
          }
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #949191;
            // border: 1px solid #000;
          }
        }
        .tab-pane:not(.active){
          display:none;
        }
        .tab-pane{
          
          .movie-item {
            padding: 20px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 95%;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 1px;
              background-color: rgba(51, 51, 51, 0.5);
            }
            &:last-child::before {
              content: "";
              position: absolute;
              width: 80%;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 1px;
              background-color: rgba(51, 51, 51, 0);
            }
            .movie-detail {
              display: flex;
              img {
                width: 50px;
                height: 50px;
              }
              .movie-item__detail {
                padding-left: 20px;
                h5 {
                  font-size: 15px;
                }
              }
            }
            .start-time {
              a {
                width: calc(25% - 10px);
                float: left;
                font-family: "SF Medium";
                font-size: 14px;
                font-weight: 400;
                margin: 0 10px 10px 0;
                padding: 5px 0;
                transition: all 0.2s;
                text-decoration: none;
                display: block;
                text-align: center;
                background-color: rgba(246, 246, 246, 0.5);
                border-radius: 7px;
                color: #9b9b9b;
                border: 1px solid #e4e4e4;
                // &:last-child{
                //   clear:both;
                // }
                span {
                  font-family: "SF Medium";
                  font-size: 18px;
                  font-weight: 700;
                  color: #108f3e;
                }
              }
            }
          }
        }
      }
      .clear {
        clear: both;
      }

      // width: 100%;
    }
  }
}
